<!DOCTYPE html>
<html>
<head>
    <title>Harmonic Intervals 2.0</title>
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="libs/isteven/isteven.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/modules.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="main" ng-app="harmonicIntervals" ng-controller="main">
        <h2 class="center">Harmonic Intervals 2.0</h2>

        <br/>
        
        <div class="row">
            <div class="col-1"></div>

            <!-- School chooser -->
            <div class="col-5">
                <h5 class="float-left">Choose School: </h5>
                <select ng-model="school" 
                        ng-options="s.name for s in schools" 
                        class="school-select form-control" 
                        id="school"></select>
            </div>

            <!-- Last week's math -->
            <div class="col-5">
                <div>
                    <h5>Did anyone miss math last week? </h5>
                </div>
                <div>
                    <span>Enter last week's data: </span>
                    <input ng-model="mathGroups"></input>
                </div>
                <div>
                    <span>Or select from the list: </span>
                    <span   
                        isteven-multi-select
                        input-model="missedMath"
                        output-model="missedMathState"
                        button-label="name"
                        item-label="name"
                        tick-property="checked"
                        helper-elements=""></span>
                </div>
            </div>
        </div>

        <br/>

        <!-- Text Schedule -->
        <h5>Timeslots:</h5>
        <div>
            <table class="color-table table" 
                   ng-if="days[dayName]"
                   ng-repeat="(dayName, day) in school.schedule">
                <tr>
                    <td class="capitalized">{{dayName}}</td>
                    <td class="group-name">Groups available</td>
                </tr>
                <tr ng-repeat="timeslot in day">
                    <td>{{timeslot.startTime}} - {{timeslot.endTime}} {{gradeEvents(timeslot)}}</td>
                    <td>
                    	{{groupsAvailable(timeslot)}}
                    </td>
                </tr>
            </table>
        </div>

        <br/>

        <!-- Colored Schedule -->
        <h5>Timeslots:</h5>
        <div>
            <table class="color-table table" 
                   ng-if="days[dayName]"
                   ng-repeat="(dayName, day) in school.schedule">
                <tr>
                    <td class="capitalized">{{dayName}}</td>
                    <td class="group-name" ng-repeat="instrumentGroup in school.instrumentGroups">
                        {{instrumentGroup.name}}
                    </td>
                </tr>
                <tr ng-repeat="timeslot in day">
                    <td>{{timeslot.startTime}} - {{timeslot.endTime}} {{gradeEvents(timeslot)}}</td>
                    <td ng-repeat="instrumentGroup in school.instrumentGroups"
                        ng-class="{'bg--green': openTimeslot(dayName, timeslot, instrumentGroup) === 1,
                                   'bg--yellow': openTimeslot(dayName, timeslot, instrumentGroup) === 2,
                                   'bg--red': openTimeslot(dayName, timeslot, instrumentGroup) === 3
                                   }"
                        data-toggle="tooltip"
                        title="{{timeslotWarnings(timeslot, instrumentGroup)}}">
                        <input type="checkbox"
                               ng-model="computedSchedule[dayName+timeslot.startTime][instrumentGroup.name]" />
                    </td>
                </tr>
            </table>
        </div>

        <br/>

        <!-- Printed Schedule -->
        <h5>Your schedule:</h5>
        <div>
            <div>Everyone is seen twice except:</div>
            <span ng-repeat="ig in school.instrumentGroups" ng-if="lessonCount(ig.name) !== 2">
                {{ig.name}}: 
                <b><span class="text--red">{{lessonCount(ig.name)}}</span></b><span ng-if="!$last">, </span>
            </span>
        </div>
        
        <div>
            <table class="table">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr ng-repeat="timeslot in school.schedule.monday">
                    <td><b>{{timeslot.startTime}}</b></td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td ng-repeat="(dayName, day) in school.schedule" 
                        ng-if="days[dayName]"
                        class="capitalize"><b>{{dayName}}</b></td>
                </tr>
                <tr ng-repeat="timeslot in school.schedule.monday">
                    <td ng-repeat="(dayName, day) in school.schedule" ng-if="days[dayName]">
                        <span ng-repeat="(ig, val) in computedSchedule[dayName+timeslot.startTime]"
                              ng-if="val">
                            {{ig}}
                        </span>&nbsp;
                    </td>
                </tr>
            </table>
        </div>
        <div>
            This week's schedule data to save: <span ng-if="missingMath().length <=2">None (no one missed math)</span>
            <span ng-if="missingMath().length >2">
                <b id="js-schedule-code">{{missingMath()}}</b>
                <button id="js-copy-to-clipboard" data-clipboard-text="{{missingMath()}}">
                    Copy to clipboard
                </button>
            </span>
        </div>
        
        <br/>

        <!-- Schedule controls -->
        <h5>Customize Schedule:</h5>
        <div>
            <table class="table" ng-repeat="(dayName, day) in school.schedule">
                <tr>
                    <td class="capitalize">
                        {{dayName}}
                        <input type="checkbox"
                               ng-model="days[dayName]" />
                    </td>
                    <td ng-if="days[dayName]" ng-repeat="teacher in teachers">
                        {{teacher.name}}
                    </td>

                </tr>
                <tr ng-repeat="(timeslotName, timeslot) in day">
                    <td>{{timeslot.startTime}} - {{timeslot.endTime}}</td>

                    <!-- Cancel checkboxes -->
                    <td ng-if="days[dayName]" ng-repeat="(teacherName, teacher) in teachers">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="checkbox"
                                   ng-click="toggleScheduleTeacher(day, timeslot, teacher.key)"
                                   ng-checked="scheduleCheckTeacher(timeslot, teacher.key)">
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>


    <!-- JS files -->

    <!-- Public libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="libs/underscore-min.js"></script>
    <script src="libs/clipboard.min.js"></script>
    <script src="libs/isteven/isteven.js"></script>

    <!-- Data files -->
    <script type="text/javascript" src="data/instrumentGroupData/instrumentGroupData__TG.js"></script>
    <script type="text/javascript" src="data/timeslotData/timeslotData__TG__A.js"></script>
    <script type="text/javascript" src="data/teacherData/teacherData__TG.js"></script>
    <script type="text/javascript" src="data/schoolData.js"></script>
    
    <!-- Local files -->
    <script type="text/javascript" src="js/index.js"></script>
</body
</html>
